
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

/* .kumbh-sans-<uniquifier> {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: #FF8412 !important;
}

/* universal CSS */
.bg-orange {
  background: #FF8412;
}

.bg-button {
  background-color: #FF8412 !important;
  border-radius: 50px !important;
}

.bg-blue {
  background-color: #2B275A !important;
  border-radius: 50px !important;
}

.bg-gray{
  background-color: #F3F2FD;
  border-radius: 50px !important;
}
.text-white {
  color: #FFFFFF;
}

.text-orange {
  color: #FFA047;
}

.text-blue {
  color: #2B275A;
}

.font-6 {
  font-size: 6px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-10 {
  font-size: 10px;
}

.font-15{
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

.font-24{
  font-size: 24px;
}

.font-32 {
  font-size: 32px;
}


/* input group */


input::placeholder {
  font-size: 16px !important;
  color: 2B275A !important;
  font-weight: bold !important;
  padding-left: 15px !important;
  z-index: 2 !important;
}

.form-control {
  border-radius: 20px 20px !important;
}


form {
  background-color: #2B275A !important;
  border-radius: 50px;
}

.arrow-block {
  top: 10px;
  position: absolute;
  right: 18px;
  font-size: 20px;
}

.icon {
  position: absolute;
  left: 13px;
  top: 15px;
  z-index: 1;
}

/* address block css */
.block1{
  background: #FFFFFF !important;
  border-radius: 20px;
  height: 180px;
  width: 150px;
}

/* .block2{
  margin-top: 0.5rem;
  padding: 0.2rem;
  height: 150px;
  width: 150px;
  background: rgb(241, 224, 194) !important;
  border-radius: 20px;
} */

.img-rectangle-teeth{
  height: 320px;
  width: 13rem;
}

.up-arrow{
  left: 5.5rem;
    top: 32rem;
    position: absolute;
}

.money-icon{
  z-index: 1;
  bottom: 13rem;
    right: 0;
    position: absolute;
}

.para{
  line-height: normal;
  margin-top: 5px;
}

/* doctor block */
.rectangle {
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  background-color: #FFFFFF;
  padding-right: 2px;
}

.dr-info {
  margin-left: 10px;
}

.example {
  position: relative;
  }

.example p {
  line-height: 17px;
    left: 11px;
    top: 0;
    position: absolute;
  }


  .icon-img{
    padding-right: 6px !important;
  }