
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background: #FF8412 !important;
}

/* universal CSS */
.bg-orange{
  background: #FF8412;
}

.bg-button{
  background-color: #FF8412 !important;
}

.text-white{
  color: #FFFFFF;
}

.text-orange{
  color: #FFA047;
}

.text-blue{
  color: #2B275A;
}

.font-6{
    font-size: 6px;
}

.font-12{
    font-size: 12px;
}

.font-13{
    font-size: 13px; 
}

.font-10{
    font-size: 10px;
}

.font-16{
    font-size: 16px;
}

.font-20{
    font-size: 20px;
}

.font-32{
    font-size: 32px;
}


/* input group */
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #fff !important;
    border: none !important;
    /* border-radius: 0.25rem; */
    /* border-radius: 50px; */
    border-right: none !important;
}

input::placeholder{
    font-size: 16px !important;
    color: 2B275A !important;
    font-weight: bold !important;
}


.form-control{
    border-radius: 0px 50px 50px 0px !important;
} 

form {
    background-color: #2B275A !important;
  border-radius: 50px;
  }

  .rectangle{
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    background-color: #FFFFFF;
  }

  .dr-info{
    margin-left: 10px;
  }